
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square.blue {
  color:#000080;
}

.square.red {
  color:#b22222;
}

.row-magin-20 {
  margin-top: 20px;
};

.game-bottom {
  border: solid 1px #f0f590;
  position: relative;
}
.game-bottom .game-me {
  background: #ccff00;
  height: 5px;
}

.game-top {
  top: 5vh;
  height: 90vh;
  background: #000;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #ae1259;
}
.game-top .monster-col {
  padding: 3px;
}

.game-bottom {
  border: solid 1px #f0f590;
  position: relative;
}
.game-bottom .game-me {
  background: #ccff00;
  height: 5px;
}

.fixed-info {
  position: relative;
  color:#ccff00;
}

.margin-20 {
  margin-left: 20px;
  margin-top: 20px;
}
